*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 0.1);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.content {
  display: grid;
  grid-template-columns: 711px 399px;
  align-items: end;
  column-gap: 30px;
}

.result__video-container {
  height: 386px;
  margin-bottom: 16px;
  position: relative;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.search-form__fieldset {
  border: none;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  max-height: 54px;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
}

.search-form__label {
  display: flex;
  width: fit-content;
  align-items: center;
  cursor: pointer;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid white;
}

.search-form__textfield {
  appearance: none;
  font-size: 18px;
  font-weight: 400;
  font-family: 'Fira Sans Condensed', sans-serif;
  color: #fff;
  min-width: 225px;
  background-color: transparent;
  border-left: none;
  border-right: none;
  border-top: 1px solid currentColor;
  border-bottom: 1px solid currentColor;
}

.search-form__textfield::placeholder {
  color: #ffffffb2;
  font-size: 18px;
  font-weight: 400;
  font-family: 'Fira Sans Condensed', sans-serif;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
  padding-bottom: 5px;
}

.search-form__pseudo-checkbox {
  border: 1px solid white;
  height: 19px;
  width: 19px;
  margin-right: 5px;
  vertical-align: middle;
  position: relative;
}

.search-form__pseudo-checkbox::after {
  content: '';
  background-color: white;
  height: 15px;
  width: 15px;
  position: absolute;
  left: 1px;
  top: 1px;
}

.search-form__checkbox:not(:checked) + .search-form__pseudo-checkbox::after {
  display: none;
}

.search-form__label-text {
  font-size: 18px;
  font-weight: 400;
  font-family: 'Fira Sans Condensed', sans-serif;
}

.search-form__label:hover > .search-form__label-text {
  text-decoration: underline;
}

.button {
  border: 1px solid currentColor;
  color: white;
  background-color: transparent;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid white;
}

.search-form__submit-button {
  width: 194px;
  height: 34px;
  align-self: flex-end;
  outline-offset: 1px;
  font-family: 'Fira Sans Condensed', sans-serif;
}

.content__details {
  display: grid;
  row-gap: 26px;
  top: 1px;
  min-height: 534px;
}

.title {
  font-family: 'Oswald', sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list-container {
  overflow-y: auto;
  position: relative;
  max-height: 298px;
}

.content__list {
  display: grid;
  row-gap: 30px;
  margin-left: 2px;
  margin-right: 3px;
  width: 390px;
}

.content__card-link {
  text-decoration: none;
  color: #fff;
  display: block;
}

.content__card-link_current {
  background-color: #545050;
  position: relative;
}

.content__video-card {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid white;
}

.content__video-card-description-container {
  flex-grow: 1;
  max-width: 196px;
  max-height: 103px;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__video-card-title {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content__video-card-description {
  font-size: 18px;
  font-weight: 400;
  line-height: 16.2px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.content__video-card-thumbnail {
  height: 103px;
  width: 194px;
  object-fit: cover;
  object-position: center;
}

.more-button {
  width: 100%;
  max-width: 390px;
  height: 34px;
  margin: 30px 3px 2px 2px;
  font-size: 18px;
  font-weight: 700;
  font-family: 'Fira Sans Condensed', sans-serif;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}
